@{
    ViewData["Title"] = "About 3Amigos";
}
<h2>About 3Amigos</h2>

<p>3Amigos is your destination to set up your next big event. Everything you need is included.
    Join today, and start something extraordinary.</p>
