@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>

<h3>Email: <a href="mailto:v8269590@live.tees.ac.uk">v8269590@live.tees.ac.uk</a></h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
