@{
    ViewData["Title"] = "Welcome";
}

<br />
<br />
<div>
    <h1 style="text-align: center">Welcome to 3Amigos!</h1>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <h2>For Your Event</h2>
        <ul>
            <li>3Amigos is where you go to manage your next big events.</li>
            <li>Bespoke venue options are included.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Where Next</h2>
        <ul>
            <li>Manage your <a href="Events">events.</a></li>
            <li>View <a href="Customers">customers</a> for your events.</li>
            <li>View our <a href="Staff">staff</a> available for your events.</li>
        </ul>
    </div>
</div>
