@model ThAmCo.Events.Models.EventVenueViewModel

@{
    ViewData["Title"] = "Book Venue";
}

<h2>Book Venue for @Model.EventName</h2>
<h4>on @Model.EventDate.ToShortDateString() - @Model.EventDate.AddDays(7).ToShortDateString()</h4>

<div class="row">
    <div class="col-md-10">
        @if (Model.Venues.Any())
        {
            <partial name="_VenueList" for="Venues" />
        }
        else
        {
            <h4>No available venues.</h4>
        }
    </div>
</div>
<div>
    <a asp-action="Details" asp-controller="Events" asp-route-id="@Model.EventId">Back to Event</a>
</div>
